.image-frame { width:1280px; height:800px; margin:auto; position:relative; }

.image-frame .video-stream { z-index:1; position:absolute; }

.image-frame .frame-overlay { z-index:100; width:100%; height:100%; position:relative; background:url(img/bg-bezel.png) no-repeat; }

.image-frame .frame-overlay .focus { width:255px; height:225px; background:url(img/focal-point.png) no-repeat center center; margin:auto; position:absolute; top:255px; left:0; bottom:auto; right:0;  }


.image-frame .frame-overlay .left-side { padding:25px 0 0 11px; height:790px; float:left; position:relative; }

.control-wrap { position:relative; width:630px; top: -90px; left: 100px;}
.control-wrap .button-wrap {margin-left: 20px; float: left;}

.image-frame .frame-overlay .right-side { padding:38px 20px 0 0; height:800px; float:right; position:relative; }

.button-wrap { width:90px; height:90px; margin-bottom:17px; 
border-radius: 45px;
-moz-border-radius: 45px;
-webkit-border-radius: 45px;
	
-webkit-box-shadow: 0px 0px 9px 0px rgba(255,255,255,0.1);
-moz-box-shadow: 0px 0px 9px 0px rgba(255,255,255,0.1);
box-shadow: 0px 0px 9px 0px rgba(255,255,255,0.1);
}

.button-wrap .button { width:90px; height:90px; position:relative; 
border-radius: 45px;
-moz-border-radius: 45px;
-webkit-border-radius: 45px;
	
-webkit-box-shadow: inset 1.5px 1.5px 5px 0px rgba(0,0,0,0.66);
-moz-box-shadow: inset 1.5px 1.5px 5px 0px rgba(0,0,0,0.66);
box-shadow: inset 1.5px 1.5px 5px 0px rgba(0,0,0,0.66);
	
background: rgba(67,65,63,0.15);
background: -moz-linear-gradient(top, rgba(67,65,63,0.15) 0%, rgba(0,0,0,0.25) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,65,63,0.15)), color-stop(100%, rgba(0,0,0,0.25)));
background: -webkit-linear-gradient(top, rgba(67,65,63,0.15) 0%, rgba(0,0,0,0.25) 100%);
background: -o-linear-gradient(top, rgba(67,65,63,0.15) 0%, rgba(0,0,0,0.25) 100%);
background: -ms-linear-gradient(top, rgba(67,65,63,0.15) 0%, rgba(0,0,0,0.25) 100%);
background: linear-gradient(to bottom, rgba(67,65,63,0.15) 0%, rgba(0,0,0,0.25) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43413f', endColorstr='#000000', GradientType=0 );
}

.button-wrap .button .hit-area { width:76px; height:76px; background-color:#00b8ff; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; 
border-radius: 76px;
-moz-border-radius: 76px;
-webkit-border-radius: 76px;
}
.button-wrap .button .hit-area:hover,
.button-wrap .button .hit-area.active { 
transition: box-shadow 0.2s;
-webkit-box-shadow: inset 0px 0px 16px 0px rgba(3,64,87,1);
-moz-box-shadow: inset 0px 0px 16px 0px rgba(3,64,87,1);
box-shadow: inset 0px 0px 16px 0px rgba(3,64,87,1); 
}
.button-wrap .button .hit-area .icon { display:block; width:100%; height:100%; cursor:pointer; background-repeat:no-repeat; background-position:center center; }

.button-wrap .button.power .hit-area { background-color:#FF3030; }
.button-wrap .button.power .hit-area .icon { background-image:url(img/icon-power.png); background-posoition:center 22px; } 

.button-wrap .button.swarm .hit-area .icon { background-image:url(img/icon-swarm.png); }
.button-wrap .button.takeoff .hit-area .icon { background-image:url(img/icon-takeoff.png); }
.button-wrap .button.landing .hit-area .icon { background-image:url(img/icon-landing.png); }
.button-wrap .button.clockwise .hit-area .icon { background-image:url(img/icon-clockwise.png); }
.button-wrap .button.counterclockwise .hit-area .icon { background-image:url(img/icon-counterclockwise.png); }

.button-wrap .button.calibrate .hit-area { background-color:#02d969; }
.button-wrap .button.calibrate .hit-area .icon { background-image:url(img/icon-calibrate.png); }

.slider.altitude .level {
	position: relative;
	top: 358px;
	left: 68px;
}

.image-frame .frame-overlay .slider { height:414px; width:87px; background:url(img/bg-altitude.png) repeat-x; margin:70px 0 0 2px; position:relative;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.image-frame .frame-overlay .slider .knob { width:81px; height:42px; background:#e7e6e6; margin:auto; position:relative; top:50px; cursor:pointer; margin-top:3px; margin-bottom:3px;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;

-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
}

.image-frame .frame-overlay .slider .label { position:absolute; top:-27px; left:8px; width:70px; height:12px; background:url(img/label-altitude.png) no-repeat; }

.status { padding:23px 0 0 0; }
.status.battery { background:url(img/icon-battery.png) no-repeat 8px 0; }
.status.battery .button-wrap { width:42px; height:300px; 
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
}
.status.battery .button-wrap .button { width:42px; height:300px; 
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
}
.status.battery .button-wrap .button .hit-area { width:30px; height:287px; background-color:#000; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; cursor:auto; background-image:url(img/bg-status-bar-fill.png); background-position:0px 83px; background-repeat:no-repeat;
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
}
.status.battery .button-wrap .button .hit-area:hover { 
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

.actions { position:absolute; right:15px; top:457px; }
.actions .button-wrap .button.options .hit-area { 

} 
.actions .button-wrap .button.options .hit-area .icon { background-image:url(img/icon-options.png); } 

.menu { position:absolute; top:9px; right:122px; background:#fff;  }
.menu .menu-wrap { position:relative; width:208px; }
.menu .button-wrap { width:70px; height:70px; position:absolute;
border-radius: 35px;
-moz-border-radius: 35px;
-webkit-border-radius: 35px;
}
.menu .button-wrap .button { width:70px; height:70px; 
border-radius: 35px;
-moz-border-radius: 35px;
-webkit-border-radius: 35px;
}
.menu .button-wrap .button .hit-area { width:60px; height:60px; 
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
}
.menu .button-wrap.flip { left:138px; }
.menu .button-wrap.follow { top:38px; left:62px; }
.menu .button-wrap.chase { top:104px; left:14px; }
.menu .button-wrap.cam { top:186px; }

.menu .button-wrap .button.flip .hit-area .icon { background-image:url(img/icon-flip.png); }
.menu .button-wrap .button.follow .hit-area .icon { background-image:url(img/icon-follow.png); }
.menu .button-wrap .button.chase .hit-area .icon { background-image:url(img/icon-chase.png); }
.menu .button-wrap .button.cam .hit-area .icon { background-image:url(img/icon-cam.png); }

.control { position:absolute; right:30px; top:555px; width:220px; height:220px; 
border-radius: 110px;
-moz-border-radius: 110px;
-webkit-border-radius: 110px;
}
.control .shadow { width:220px; height:220px; position:relative;
border-radius: 110px;
-moz-border-radius: 110px;
-webkit-border-radius: 110px;

background: rgba(0,0,0,0.65);
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.52) 33%, rgba(255,255,255,0.25) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.65)), color-stop(33%, rgba(0,0,0,0.52)), color-stop(100%, rgba(255,255,255,0.25)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.52) 33%, rgba(255,255,255,0.25) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.52) 33%, rgba(255,255,255,0.25) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.52) 33%, rgba(255,255,255,0.25) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.52) 33%, rgba(255,255,255,0.25) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

.control .shadow .inside { width:203px; height:202px; background:url(img/bg-joystick.png) no-repeat; margin:auto; position:relative; top:10px; padding:0px; }

.control .shadow .inside .ring { width:193px; height:192px; position:relative; top:5px; left:5px;
border-radius: 96px;
-moz-border-radius: 96px;
-webkit-border-radius: 96px;

background: rgba(7,168,231,1);
background: -moz-linear-gradient(-45deg, rgba(7,168,231,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(7,168,231,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(7,168,231,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(7,168,231,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(7,168,231,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(135deg, rgba(7,168,231,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07a8e7', endColorstr='#000000', GradientType=1 );
}

.control .shadow .inside .ring .inner-pad { width:179px; height:178px; background:url(img/bg-joystick-inner-pad.png) no-repeat; position:relative; top:7px; left:7px; }

.control .shadow .inside .ring .inner-pad .indent { background:url(img/bg-joystick-indent.png) no-repeat; width:125px; height:125px; margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; }
.control .shadow .inside .ring .inner-pad .indent .knob-limit { width:120%; height:120%; position:relative;margin:-10%; }
.control .shadow .inside .ring .inner-pad .indent .knob-limit .knob { width:95px; height:95px; background:#fff; position:relative; top:27px; left:27px; cursor:pointer;
border-radius: 47px;
-moz-border-radius: 47px;
-webkit-border-radius: 47px;

-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.66);
-moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.66);
box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.66);
}
.control .shadow .inside .ring .inner-pad .indent .knob-limit .connect { background-image: url(img/icon-connect.png); }

.overlay {  width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:500; }
.overlay .fade { width:100%; height:100%; position:absolute; top:0px; left:0px; background:#000; opacity:0.68; }
.alert-box { position:relative; width:100%; height:100%; }
.alert { background:none; border:none;  
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}
.alert p { color:#fff; font-size:25px; text-align:center; text-shadow:none; }
.alert .buttons { text-align:center; }
.alert .buttons a { text-shadow:none; color:#000; }
.alert .buttons a:hover { color:#000; }

.alert .buttons a.cancel { background:#00b8ff; color:#fff; }
.alert .buttons a.cancel:hover { color:#fff; }

.hide { display:none!important; }



/* ==========================================================================
   Theme adjustments
   ========================================================================== */
   
.ui-overlay-a { background:none!important; }

.ui-popup-screen { background:#000; opacity:0.68; }

