body {
  margin: auto;
  width: 100%;
}

div {
  margin: 15;
  padding: 10;
  width: 100%;
}

textarea {
  margin: 10;
  padding: 10;
  width: 95%;
  height: 15%;
  font-size: 12;
  resize: none;
}

.title {
  margin: 20
  padding: 20
  font-size: 32
  font-weight: bold
}
.subtitle {
  margin: 10;
  padding: 10;
  font-size: 25;
}
.text {
  font-size: 18;
}
.center {
  text-align: center;
}
.button {
  height: 15%; width: 32%;
}
.color_one {
  background-color: #FFFACD;
}
.color_two {
  background-color: #CAE1FF;
}
.color_three {
  background-color: #FFF0F5;
}
.color_four {
  background-color: #F0FFF0;
}
.color_five {
  background-color: #D1D1D1;
}
